@CHARSET "EUC-KR";
		
		table.quewindow {
         width: 655px;
         border-collapse: collapse;
         font-family: 'Trebuchet MS';
       }
       table.quewindow td, th {
         border: 0px solid #98bf21;
         padding-left: 20px;
         height: 30px;
       }
       table.quewindow th {
       	 text-valign: bottom;
       	 height: 20px;
         color: #A89489;
        
       }
       table.quewindow tr.alt td {
         color: #000000;
         
       }
       table.quewindow tr.under td {
         height: 8px;
         background-color: #EEE;
       }
       
       table.answindow {
       		padding-left: 20px;
       		text-align: left;
         width: 655px;
         border-collapse: collapse;
         font-family: 'Trebuchet MS';
       }
       table.answindow td, th {
         border: 0px solid #98bf21;
         height: 30px;
       }
       table.answindow th {
         height: 20px;
         background-color: #FFF;
         color: #A89489;
         
       }
       table.answindow tr.alt td {
         color: #000000;
         background-color: #FFFFFF;
       }
       table.answindow tr.answindowwerbar td {
         height: 8px;
         background-color: #FFAAAA;
       }
       
       table.answindow tr th.padding{
       		padding-left: 5px;
		
		}
		
		